@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


.left-0 {
  left: 0 !important;
}

.company-slides {
  animation: slides 8s infinite linear;
}

@media (max-width:768px) {
  @keyframes slides {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}